$col1b: #77891B;
$col2b: #D54A2D;
$col3b: #49B1BC;
$col4b: #ccc61e;
$col5b: #B22F34;
$col6b: #DA5084;
$col7b: #E9A35B;

$p1: #2e112d;
$p2: #540030;
$p3: #4A0D32;
$p4: #820434;
$p5: #FF6C40;

$col9: #284b9a;
$col8: #0C63AE;
$col7: #1A71BB;
$col6: #3091E4;
$col5: #0A1729;
$col4: #4988ff;
$col3: #7ea2e6;
$col2: #76bae5;
$col1: #5353f7;